<div class="container">
    <nav class="row navbar navbar-expand-lg navbar-light ">
      <img class="col-1" id="profileImg" src="./img/ntl.svg"/>
      <a class="col-6 navbar-brand navbarNav"></a>
      <a class="col-1 navbar-brand navbarNav" href="#">News</a>
      <a class="col-1 navbar-brand" href="#">Blog</a>
      <a class="col-1 navbar-brand" href="#">Projects</a>
      <img class="col-1" id="profileImg" src="./img/profile.jpeg"/>
    </nav>


  <div class="row">
    <div class="imgWithText">
      <img class="col" src="./img/banner.png"/>
      <div class="mainText">Help us help others</div>
      <div id="sub1" class="subText">82% Something</div>
      <div id="sub2" class="subText">15% thats right</div>
    </div>
  </div>

  <div class="row">
    <div class="col"><h3 class="header">CURRENT PROJECTS</h3></div>
  </div>

  <div ng-repeat="row in projects" class="row twoProj">
    <a ng-repeat="project in row" class="col-6" href="http://localhost:8080/#!/projects/{{project.id}}">
      <div ng-style="{'background-image' :'url(' + project.img + ')', 'background-repeat':'no-repeat', 'background-size': 'cover','height': '249px', 'padding': '0 5px 0 5px'}"  id="projWrapper">
      <div class="projTitle">{{project.title}}</div>
      <div class="fundingImg" id="id{{project.index}}" circle percent="{{project.percent}}"></div>
      </div>
    </a>
  </div>
</div>
