.project-single{
    width: 100%;
    position: absolute;
    top: 550px;

}
.project-single .imgbox{
    position: relative;
    left: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    display: block;
    padding: 10px 60px;
    text-align: right;
    width: 100%;
    color: white;

    top: -40px;
    margin-bottom: 2em;
}

.project-single .logo{
    width: 150px;

}
.progress-meter text {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.project-single #content{
    display: block;
    position: absolute;
    top: -45px;
    left: 1px;
}
.project-single .icon{
    width: 58px;
    height: 56px;
    padding: 10px;
}

.btn{
    margin: 10px;
}

.doccol img {
    border-radius: 2em;
    width: 4em;
    height: 4em;
    margin-bottom: 0.8em;
}
.doccol {
    text-align: left;
    padding-left: 48px;
    /*overflow: hidden;*/
}
.doccol > *:first-child {
padding-top: 1em;
margin-left: 0.8em;
}
.doccol > * {
    margin-left: 1.2em;
}

.projHeader{
 /*   padding-left: 5%;
    padding-right: 5%; */
}

.micon {

}

.iconsrow {
    text-align: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.icons

.micon span {
    display: block";
}

.mbtn {

}

.mainrow {
    margin-top: 2.5em;
}

.mainrow p {
    text-align: justify;
}

.mainrow h1 {
    text-align: center;
}

.dleft {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    padding-right: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

@media only screen and (max-width: 800px) {
   .es {
        display: none;
   }
   .ek {
       width: 100%;
       min-width: 100%;
          padding-left: 5%;
          padding-right: 5%;
   }
}
@media only screen and (max-device-width: 800px) {
    .es {
         display: none;
    }
    .ek {
        width: 100%;
        min-width: 100%;
           padding-left: 5%;
           padding-right: 5%;
    }
 }
