/*-------GENERAL-------*/

body {
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
}

.imgWithText {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/*-------NAVBAR-------*/

.navbarNav {
}

#profileImg {
  width: 30px;
  height: 30px;
}

/*-------BANNER-------*/
.banner {
  font-size: 80px;
}
/*-------HEADER-------*/

/*-------PROJECT-------*/

.project {
}

.projImg {
  width: 100%;
}

.projTitle {
  position: absolute;
  bottom: 8px;
  background-color: black;
  opacity: 0.7;
  font-size: 25px;
  text-align: right;
  padding-right: 5vh;
  color: white;
  width: 100%;
}
